<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="gitlink" version="2.3.0" targetFramework="net46" />
  <package id="jQuery" version="2.2.3" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.FileProviders.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Hosting.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Extensions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Research.MultiWorldTesting.ClientLibrary" version="1.0.0.51" targetFramework="net46" />
  <package id="Microsoft.Research.MultiWorldTesting.Contract" version="1.0.0.51" targetFramework="net46" />
  <package id="Microsoft.Research.MultiWorldTesting.JoinUploader" version="1.0.0.51" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net46" />
  <package id="VowpalWabbit" version="8.0.0.65" targetFramework="net46" />
  <package id="VowpalWabbit.JSON" version="8.0.0.65" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="3.2.2" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net46" />
</packages>